*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width:100%;
    background-color:white;
    padding:20px;
    position: relative;
    letter-spacing: 2px;

}
.sidecontainer{
    position:absolute;
    right:0;
}



.firstcontainer{
    margin: 30px;
    position: relative;
}
.sub{
    background-color: black;
    position: absolute;
    /* margin-bottom:10px; */
    height: 50px;
    width:50px;
    top:50%;
    left:50%;
    padding: 20px;
    color: white;
    letter-spacing: 2px;
}
.sub1{
    position: absolute;
    height: 50px;
    width:50px;
    margin-right: 50px;
    top:50%;
    left:60%;
    color:white;
    padding: 20px;
    letter-spacing: 2px;
}
   
    
  
   
    


.container,.container1,.container2,.container3,.container4,.container5,.container6,.container7{
    height: 300px;
    width:  300px; 
    position: relative;
    margin:20px;
    margin-left: 30px;
    display: inline-block;
}

p{
    margin-bottom:20px;
}




.child1,.child2,.child3,.child4,.child5,.child6,.child7,.child8{
    background-color: black;
    color: white;
    position: absolute;
    margin:0;
    top:0;
    padding-left: 10px;

}
.newcontainer1,.newcontainer2,.newcontainer3,.newcontainer4{
    height: 300px;
    width:  300px; 
    position: relative;
    margin-bottom: 30px;
    margin-left: 30px;
    display: inline-block;
}
img{
    width:100%
}   

.c{
    color:grey
}
button{
    width: 300px;
    color: black;

}
.map>img{
  margin-top: 100px;
}

.last{
    background-color: black;
    height: 50px;
    text-align: center;
    color:white;
}






    

