*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.imagcontainer{
    position: relative;
}

   

.childcontainer{
    display: inline-block;
    /* border: 10px solid black; */
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
   position: relative;
}
img{
    width:300px;
}
p{
    margin-top: 20px;
}



   
