*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    background-color: aqua;
    width: 400px;
    height:400px;
    padding-top:20px;
    margin-top: 50px;
    border: 10px  solid orange;
    color:coral;
    border-radius: 50px;

}
.container1{
   padding-top:20px;
     height:400px;
    width: 400px;
    border: 10px  solid rgb(21, 255, 0);
    background-color: brown;
    border-radius: 50px;
    color:rgb(23, 27, 23);
    margin-top: 50px;
}

.container2{
    padding-top:10px;
    height:400px;
    width: 400px;
    border: 10px  solid rgb(93, 0, 255);
    background-color: cadetblue;
    color: rgb(170, 227, 13);
     border-radius: 50px;
     margin-top: 50px;
}
.container3{
   padding-top:10px;
    border: 10px  solid rgb(22, 144, 160);
    background-color: blueviolet;
    height:400px;
    width: 400px;
    color: rgb(186, 226, 43);
     border-radius: 50px;
      margin-top: 50px;
}
.container4{
 padding-top:10px;
    border: 10px  solid rgb(158, 22, 160);
    color: rgb(0, 120, 129);
    background-color: chartreuse;
     height:400px;
    width: 400px;
    border-radius: 50px;
      margin-top: 50px;
}
